@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Insuro has you covered! To get around in the U.S. it is likely that you need a car, and having a car you need car insurance.
   You have found Insuro! Insuro covers everything that you need at an affordable price. We focus on the insurees and not profits
   making our rates realistic and affordable. Welcome to Insuro!</p>

