@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Blah blah Avenue<br />
    Richmond, Il 68122-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Insuro.com">Support@Insuro.com</a><br />
    <strong>Brokers:</strong> <a href="mailto:Broker@Insuro.com">Broker@Insuro.com</a>
</address>